

## executable
unified_makefile_project1/bin/project1.exe

## .idea
**/.idea
unified_makefile_project1/.idea/misc.xml
unified_makefile_project1/.idea/unified_makefile_project1.iml


## object files
*.o

## snapshots
*.png
